<p id="notice"><%= notice %></p>

<p>
<table>
  <tr>
    <td>Name:</td>
    <td><%= @speaker.name %></td>
  </tr>
  <tr>
    <td>Bio:</td>
    <td><%= @speaker.bio %></td>
  </tr>
  <tr>
    <td>Presentation:</td>
    <td><%= @speaker.presentation %></td>
  </tr>
  <tr>
    <td>Descripton:</td>
    <td><%= @speaker.description %></td>
  </tr>
  <tr>
    <td>Total votes:</td>
    <td><%= @votes.count%></td>
  </tr>
  <tr>
    <td>Votes up:</td>
    <td><%= @votes_up.count%></td>
  </tr>
  <tr>
    <td>Votes down:</td>
    <td><%= @votes_down.count%></td>
  </tr>
  <tr>
    <td>Percent:</td>
    <td><% if @votes.count > 0 %>
        <%= number_to_human(100.0 * @votes_up.count / @votes.count ) %>
        <% else %>
        0
        <% end %>
    </td>

</table>
</p>

<%= link_to 'Clear', :controller => 'speakers', :action => 'clear', :id => @speaker  %> |
<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
